div#title {
    Font-family: 'Franklin Gothic Medium Cond', Arial, sans-serif;
    height: 50vh;
    padding-top: 15vh;
    text-shadow: 0 0 1vw black;
    border-bottom: thick dotted #2a2a2a;
    margin-bottom: 5vh;
}
p1 {
    font-size: 6vw;
    font-weight: bolder;
    text-align: center;
    color: whitesmoke;
    display: block;
    margin: auto;
}
p2 {
    font-size: 1.5vw;
    display: block;
    text-align: center;
    color: #545454;
    margin: auto;
    padding-top: 2vh;
}



.column {
    width: 24.2vw;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.square {
    height: 16vw;
    width: 16vw;
    border-radius: 2vw;
    display: inline-block;
    box-shadow: 0 0 1vw black;
    opacity: 0.0;
    margin: 1.2vw;

    -webkit-transition: opacity 2s;
    align-self: center;
    text-align: center;
}

body {
    background-color: #151515
;
}

::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes startup {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

@-webkit-keyframes disappear {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}