div#title {
    Font-family: "Comic Sans MS", cursive, sans-serif;
    height: 52vh;
    padding-top: 15vh;
    font-size: 20vh;
    text-align: center;
}



.column {
    width: 24vw;
    display: inline-block;
}
.square {
    height: 34.2vh;
    width: 34.2vh;
    border-radius: 3.75vh;
    display: inline-block;
    box-shadow: .45vh .45vh .25vh black;
    opacity: 0.0;
    margin: 1.8vh;

    -webkit-transition: opacity 2s;
    align-self: center;
    text-align: center;
}

body {
    background-color: darkslategrey;
}

::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes startup {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

@-webkit-keyframes disappear {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}